In [1]:
import pandas as pd
import numpy as np

In [2]:
cleanedmath_df = pd.read_csv('data/cleanedStudentMath.csv')
cleanedpor_df = pd.read_csv('data/cleanedStudentPor.csv')

In [3]:
math_df = pd.read_csv('data/student-mat.csv')
por_df = pd.read_csv('data/student-por.csv')

In [4]:
math_df = math_df[math_df.columns[0]].str.split(';', expand=True)
por_df = por_df[por_df.columns[0]].str.split(';', expand=True)

In [5]:
columnLabels = ['School', 'Sex', 'Age', 'Address', 'Family Size', 'Parental Status', 'Mother Education'
             , 'Father Education', 'Mother Job', 'Father Job', 'Reason for School', 'Guardian', 'Travel Time'
             , 'Study Time', '# of Failures', 'Extra Educational Support', 'Extra Family Support', 'Extra Paid Classes'
             , 'Extracurricular', 'Nursery', 'Desire Higher Education', 'Internet Access', 'Romantic Relationship'
             , 'Family Relationship Quality', 'Amount of Free Time', 'Frequency of Going Out', 'Weekday Alcohol Consumption'
             , 'Weekend Alcohol Consumption', 'Health Status', 'Abscences', '1st Period Grade', '2nd Period Grade'
             , 'Final Grade']
math_df.columns = columnLabels
por_df.columns = columnLabels

In [9]:
for x in math_df.columns:
    math_df[x] = math_df[x].str.strip("\"")

In [10]:
math_df

,School,Sex,Age,Address,Family Size,Parental Status,Mother Education,Father Education,Mother Job,Father Job,...,Family Relationship Quality,Amount of Free Time,Frequency of Going Out,Weekday Alcohol Consumption,Weekend Alcohol Consumption,Health Status,Abscences,1st Period Grade,2nd Period Grade,Final Grade
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [12]:
for x in por_df.columns:
    por_df[x] = por_df[x].str.strip("\"")

In [13]:
por_df

,School,Sex,Age,Address,Family Size,Parental Status,Mother Education,Father Education,Mother Job,Father Job,...,Family Relationship Quality,Amount of Free Time,Frequency of Going Out,Weekday Alcohol Consumption,Weekend Alcohol Consumption,Health Status,Abscences,1st Period Grade,2nd Period Grade,Final Grade
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [20]:
math_df.to_csv(r"data/math_data.csv", index=False)
por_df.to_csv(r"data/por_data.csv", index=False)